<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">uniAdmin | {{ app.request.attributes.get('_route')|trans }}</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ icon('user fa-fw') }}&nbsp;{{ icon('caret-down') }}</a>
            <ul class="dropdown-menu dropdown-user">
                {#<li><a href="#">{{ icon('user fa-fw') }}&nbsp;{{"user_profile"|trans}}</a></li>#}
                <li><a href="{{ path('fos_user_security_logout') }}">{{ icon('sign-out fa-fw') }}&nbsp;{{"logout"|trans}}</a></li>
            </ul>
        </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                {#<li {% if 'dashboard' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('dashboard') }}">{{ icon('dashboard fa-fw') }}&nbsp;{{ "dashboard"|trans }}</a></li>#}
                <li {% if 'frontpage' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('frontpage') }}">{{ icon('clone fa-fw') }}&nbsp;{{ "frontpage_index"|trans }}</a></li>
                <li {% if 'member' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('member') }}">{{ icon('group fa-fw') }}&nbsp;{{ "member_index"|trans }}</a></li>
                <li {% if 'role' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('role') }}">{{ icon('sitemap fa-fw') }}&nbsp;{{ "role_index"|trans }}</a></li>
                <li {% if 'notice' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('notice') }}">{{ icon('newspaper-o fa-fw') }}&nbsp;{{ "notice_index"|trans }}</a></li>
                <li {% if 'user' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('user') }}">{{ icon('user fa-fw') }}&nbsp;{{ "user_index"|trans }}</a></li>
                <li {% if 'report' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('report') }}">{{ icon('info-circle fa-fw') }}&nbsp;{{ "report_index"|trans }}</a></li>
                <li {% if 'history' in app.request.attributes.get('_route') %}class="active"{% endif %}><a href="{{ path('history') }}">{{ icon('book fa-fw') }}&nbsp;{{ "history_index"|trans }}</a></li>
            </ul>
        </div>
    </div>
</nav>
