{% extends '::uniAdmin.html.twig' %}

{% block title %}{{ 'noticephotos'|trans }}{% endblock %}

{% block body -%}

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% include ':Files:icon.html.twig' %}{{ 'noticephotos'|trans }}</h1>
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">{{ icon('remove fa-fw') }}</button>
                        <strong>{{ 'notification'|trans }}: </strong>{{ flashMessage|trans }}
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('danger') %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">{{ icon('remove fa-fw') }}</button>
                        <strong>{{ 'notification'|trans }}: </strong>{{ flashMessage|trans }}
                    </div>
                {% endfor %}

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ path('noticephoto_new') }}">{{ icon('file') }}&nbsp;{{ 'noticephoto_new'|trans }}</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive">
                        <table class="records_list table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>{{ knp_pagination_sortable(pagination, 'path_photo'|trans, 'path_photo') }}{% if sort == 'path_photo' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'file_photo'|trans, 'file_photo') }}{% if sort == 'file_photo' %}{% if direction == 'desc' %}{{ icon('caret-down') }}{% else %}{{ icon('caret-up') }}{% endif %}{% endif %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for entity in pagination %}
                                <tr class='clickableRow' href="{{ path('noticephoto_show', { 'id': entity.id }) }}">
                                    <td>{% if entity.pathphoto %}{{ entity.pathphoto }}{% endif %}</td>
                                    <td>{% if entity.filephoto %}{{ entity.filephoto }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <div class="text-center">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

{% endblock %}
