{% extends ':Page:base.html.twig' %}

{% use ':Page:footer.html.twig' %}{% block footer %}{{ parent() }}{% endblock %}

{% block body -%}
    <section id="projectshow">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="featurette-heading">{{ project.title }}</h3>
                    <h6 class="text-muted">
                        Publicado: {{ project.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }},
                        Actualizado: {{ project.updatedAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}
                    </h6>
                    {% if project.photos is not empty %}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->
                        {% if project.photos|length > 1 %}
                        <ol class="carousel-indicators">
                            {% for photo in project.photos %}
                                <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                            {% endfor %}
                        </ol>
                        {% endif %}

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            {% for photo in project.photos %}
                                <div class="item {% if loop.first %}active{% endif %}"><img class="img-responsive center-block" alt="{{ project.title }}" src={{ asset(photo.webpath) | imagine_filter('page_project') }}></div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        {% if project.photos|length > 1 %}
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            {{ icon('chevron-left') }}
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            {{ icon('chevron-right') }}
                            <span class="sr-only">Siguiente</span>
                        </a>
                        {% endif %}
                    </div>
                    {% endif %}
                    <p>{{ project.content | raw }}</p>
                </div>
                <div class="col-md-4">
                    <h3 class="featurette-heading">Los 10 últimos projectos</h3>
                    <div class="list-group">
                        {% for oproject in projects %}
                            <a href="{{ path('uni_page_project_show', { 'id': oproject.id }) }}" class="oproject-title list-group-item {% if oproject.id == project.id %}active{% endif %}">{{ oproject.title }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}