{% extends ':Page:base.html.twig' %}

{% use ':Page:footer.html.twig' %}{% block footer %}{{ parent() }}{% endblock %}

{% block body -%}
    <section id="project">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <a href="{{ path('uni_page_project_show', { 'id': project.id }) }}#projectshow">
                    <div class="col-md-4">
                        <div class="project-preview">
                            {% set photo = project.photos|first %}
                            {% if photo %}<div class="project-photo-preview"><img class="img-responsive" alt="{{ project.title }}" src={{ asset(photo.webpath) | imagine_filter('page_project_preview') }}></div>{% endif %}
                            <div class="project-title">{{ project.title }}</div>
                            <div class="project-createdat">{{ project.createdAt|localizeddate('full', 'full', 'es_ES', 'America/Santiago', "d 'de' LLLL 'de' Y - HH:mm") }}</div>
                            <div class="project-content">{{ project.content | striptags | slice(0, 700) | raw }}</div>
                        </div>
                    </div>
                    </a>
                {% endfor %}
            </div>
            <div class="row">
                <div class="text-center">
                    {{ knp_pagination_render(projects) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}