{% extends ':Page:base.html.twig' %}

{% use 'UniPageBundle:Page:frontpage.html.twig' %}{% block stylesheet %}{{ parent() }}{% endblock %}

{% use 'UniPageBundle:Page:footer.html.twig' %}{% block footer %}{{ parent() }}{% endblock %}

{% block header %}
    <header class="intro-header header-image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{ "member_index"|trans }}</h1>
                        <hr class="small">
                        <span class="subheading">{% if frontpage %}{{ frontpage.title }}{% endif %}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block javascript %}{% endblock %}

{% block body -%}
    <section id="member">
        <div class="container">
            <div class="row text-center">
                {% for member in members %}
                <div class="col-xs-12 col-sm-3 col-lg-2">
                    <div class="thumbnail row-no-padding">
                        <div class="member-photo col-xs-6 col-sm-12">
                            <img class="img-rounded img-responsive" alt="{{ member.firstname }}" src="{{ asset(member.webpath) | imagine_filter('page_member') }}">
                        </div>
                        <div class="member-caption col-xs-6 col-sm-12">
                            <h3>{{ member.firstname ~ ' ' ~ member.lastname }}</h3>
                            <p>{% if member.role %}{{ member.role.name }}{% endif %}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}